@import "tailwindcss";
td,tr,th{
    @apply text-center border border-black
}
.scroll::-webkit-scrollbar{
    width: 5px;
}
.scroll::-webkit-scrollbar-thumb{
    background-color: #1d1d1dc5;
    border-radius: 5px;
}
.scroll::-webkit-scrollbar-thumb:hover{
    background-color: #111111;
    border-radius: 5px;
}
.scroll::-webkit-scrollbar-track{
    background-color: #fff;
}
